.home {
    position: static;
    padding-left: 300px;
    padding-top: 300px;
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #DFF7FF;
    background-size: 100% 100%;
}