/* navbar*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 90px 05%;
    background-color: #C2EAB4 ;
}
.sun {
    position: fixed;
    top: 0px;
    size: 10px;
    width: 35%;
    right: 550px;
}

.sun img {
    width: 50%;
}

.temp {
    position: fixed;
    top: -8px;
    size: 10px;
    width: 35%;
    right: 240px;
}

.temp img {
    width: 50%;
}


.water {
    position: fixed;
    top: 0px;
    size: 10px;
    width: 35%;
    right: -80px;
}

.water img {
    width: 55%;
}



