/* navbar*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 05%;
    background-color: #C2EAB4 ;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: 'Nunito', sans-serif;
    font-size: 3.2vw;
    font-weight: 100;
    color: #371705;
    text-decoration: none;
    text-align: center;
}

.nav__links li {
    padding: 10px 80px;
}

.nav__links li a:hover {
    color: #94fa00;
    padding-bottom: 05px;
}

.cta {
    margin-left: 20px;
    padding: 8px 20px;
    background-color: #5582c7;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: #95D9F0 ;
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5),
    -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
